<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'topbar.html' %}

<div class="error-container">
    <h1>404 - Anime Not Found</h1>
    <p>The requested anime could not be found. Please check the URL or go back to the <a href="{{ url_for('homepage') }}">homepage</a>.</p>
</div>

</body>
</html>
