<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'topbar.html' %}
    <div class="anime-details">
        <div class="anime-details-left">
            <h1>{{ anime.title }}</h1>
            <img src="{{ anime.image_link }}" alt="{{ anime.title }}">
            <p>Studio: <b>{{ anime.studio }}</b></p>
            <p>Release Year: <b>{{ anime.release_year }}</b></p>
            <p>Characters: <b>{{ anime.characters }}</b></p>
            <p>Average Rating: <b>{{ anime.average_stars if anime.average_stars != "0" else 'No reviews yet' }}{{ ' stars' if anime.average_stars != "0"}}</b></p>
        </div>
        <div class="anime-details-right">
            <h2>Synopsis</h2>
            <p>{{ anime.desc }}</p>
            <h3>User Reviews</h3>
            <div class="user-reviews">      
                {% if not anime.user_reviews %}
                <div class="single-review">
                <h4>No reviews yet!</h4>
                </div>
                {% endif %}          
                {% for review in anime.user_reviews %}
                <div class="single-review">
                    <h4>Review from {{ review.user.username }}:</h4>
                    <p>{{ review.review | safe }}</p>
                    <h4>{{ review.user.username }} gave it {{ review.stars }} stars.</h4>
                </div>
                <br>      
                {% endfor %}
                {% if user %}
                <a href="{{ url_for('review', anime_id=anime.id) }}" class="add-review-button">
                    {% if existing_review %}
                    Edit Review
                    {% else %}
                    Add Review
                    {% endif %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    
<br>
<br>
</div>

</body>
</html>
